@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
  font-family: "Bebas Neue", sans-serif;
  scroll-behavior: smooth;
  scroll-snap-type: 10s;
  scroll-padding-top: 5rem;
}

body{
  background-color:rgb(255, 255, 255);
}

.input {
  @apply w-full border border-gray-200 rounded-lg px-4 py-3 text-sm focus:outline-none focus:ring-2 focus:ring-black transition;
}

